<div class="homepage">
  {% comment %} <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo"> {% endcomment %}
   <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" width="auto" height="auto" class="logo">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>